#container {
  margin: 50px 500px;
  text-align:center;
  border: 1px solid wheat;
  border-radius: 20px;
  height: 400px;
  width: 500px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #525151;

}

h1{
  padding: 0px 50px;
}
body{
  background: #fff;
}

p{
  text-align: center;
  font-size: 2em;
}

button {
  font-size: 1em;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
